 //----------------------------- Globals ------------------------------------------
 $MainOrange: #FBB03B;
 $MenuColor: #E0D4BE;
 $BackgroundColor: #494949;
 $DarkGray: #3b3b3b; 
 $ContentWidth: 900px;
 $Shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

 *{
     box-sizing: border-box;
 }